---
layout: default
---
<article>
  {{ content }}
</article>
<h1>
    <a href="https://www.youtube.com/">{{ page.title-1 }}</a>
</h1>

{% if page.image %}
  <a href="https://www.youtube.com/watch?v=xPA0LFzUDiE">
    <img src="{{ site.github.url }}/assets/img/div-projects/{{ page.image }}" alt="Image 1">
  </a>
{% endif %}

<h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ page.title-2 }}</a>
</h1>
{% if page.image2 %}
  <img src="{{ site.github.url }}/assets/img/div-projects/{{ page.image2 }}" alt="Image 2">
{% endif %}

{% for post in paginator.posts %}
  <div class="posts-container">
    <h1>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}">
          <img src="{{ site.github.url }}/assets/img/{{ post.image }}" alt="{{ post.title }}">
        </a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date">
        <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} -
        <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}
      </span>
    </p>
  </div>
{% endfor %}
