---
layout: default
---
<article>
  {{ content }}
</article>

<h1>
  {{ page.title-1 }}
</h1>

{% if page.image %}
  <img src="{{ site.github.url }}/assets/img/div-projects/{{ page.image }}" alt="Image 1">
{% endif %}

<h1>
  {{ page.title-2 }}
</h1>
{% if page.image2 %}
  <img src="{{ site.github.url }}/assets/img/div-projects/{{ page.image2 }}" alt="Image 2">
{% endif %}

{% if site.hide_post_date != true %}
  {% include post-date.html %}
{% endif %}

{% if site.hide_post_share != true %}
  {% include social-sharing.html %}
{% endif %}

{% if site.hide_related_posts != true %}
  {% include related-posts.html %}
{% endif %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
